In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

# loading linear algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

# tree based algorithms
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier

# machine learning processing and metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, roc_curve

In [2]:
 # pandas display options
pd.set_option('display.max_columns', None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_rows", None)

In [4]:
df = pd.read_csv('Test.csv')
df.head(50)

,#,ML #,Change,PType,St,Address,Subdivision Name,City,Cumulative Days On Market,Days On Market,SqFt,Fireplaces Total,Garage YN,Heating,Waterfront Features,Waterfront YN,Year Built,Utilities,Longitude,Latitude,Housing Type,HOA Fee,HOA Fee Frequency,HOA Type,Cooling,County,Covered Spaces,Carport Spaces,Close Date,Close Price,Basement YN,Bath Full,Baths Half,Baths Total,# Dining Areas,# Living Areas,Beds Total,GAR/CP/TCP,Bath Total,Acres,Pool YN,Current Price
0,1,20029290,NaN,RESI,Closed,805 Lake View Ridge,Meadow Park Add,White Settlement,7,7,621,0,No,Other,NaN,NaN,1950,Other,-97.463460,32.752228,Single Detached,NaN,NaN,None,Other,Tarrant,0,0.0,05/25/2022,"$72,000",No,1,0,1/0,1,1,1,/0/0,1,0.198,No,"$72,000"
1,1,20029494,NaN,RESI,Closed,1639 Mentor Avenue,Bellevue,Dallas,10,10,972,0,No,None,NaN,NaN,1925,"City Sewer, City Water",-96.799945,32.692283,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/27/2022,"$73,500",No,0,2,0/2,0,1,0,/0/0,2,0.187,No,"$73,500"
2,1,20024431,NaN,RESI,Closed,1810 Fuller Street,Orig Town Of Greenville,Greenville,1,1,"1,846",0,No,None,NaN,NaN,1952,"City Sewer, City Water",-96.110676,33.144472,Single Detached,NaN,NaN,None,None,Hunt,0,0.0,04/22/2022,"$83,000",No,1,0,1/0,1,1,3,/0/0,1,0.129,No,"$83,000"
3,1,20045154,NaN,RESI,Closed,1315 Exeter Avenue,Belmead,Dallas,0,0,912,0,No,Other,NaN,NaN,1946,"City Water, Curbs, Electricity Available, Electricity Connected, Overhead Utilities",-96.806162,32.693751,Single Detached,NaN,NaN,None,Central Air,Dallas,0,0.0,05/18/2022,"$85,000",No,2,0,2/0,1,0,0,/0/0,2,0.199,No,"$85,000"
4,1,20017370,NaN,RESI,Closed,2606 Fordham Road,Lisbon Heights,Dallas,4,4,"1,008",0,No,Wall Furnace,NaN,NaN,1938,"City Sewer, City Water",-96.783296,32.705798,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Central Air",Dallas,0,0.0,04/07/2022,"$89,000",No,1,0,1/0,1,1,2,/0/0,1,0.203,No,"$89,000"
5,1,20016288,NaN,RESI,Closed,3010 Mitchell Street,Mineral Heights Sub,Greenville,7,7,642,0,No,Electric,NaN,NaN,1956,"City Sewer, City Water",-96.112583,33.109326,Single Detached,NaN,NaN,None,Electric,Hunt,0,0.0,04/08/2022,"$91,000",No,1,0,1/0,1,1,1,/0/0,1,0.201,No,"$91,000"
6,1,20033748,NaN,RESI,Closed,3700 Guaranty Street,Guaranty Investors,Dallas,3,3,940,0,No,Central,NaN,NaN,1927,"City Sewer, City Water, Electricity Available",-96.763228,32.762555,Single Detached,NaN,NaN,None,Central Air,Dallas,0,0.0,04/21/2022,"$91,111",No,1,0,1/0,1,1,2,/0/0,1,0.069,No,"$91,111"
7,1,20047710,NaN,RESI,Closed,909 Mirike Drive,Meadow Park Add,White Settlement,10,10,673,0,No,Other,NaN,NaN,1951,Septic,-97.463949,32.749006,Single Detached,NaN,NaN,None,None,Tarrant,0,0.0,05/18/2022,"$94,000",No,1,0,1/0,1,1,1,/0/0,1,0.241,No,"$94,000"
8,1,20026549,NaN,RESI,Closed,1635 Elsie Faye Heggins Street,Hatcher Street Heights,Dallas,0,0,"1,206",0,No,Natural Gas,NaN,NaN,1940,"City Sewer, City Water, Electricity Available",-96.762945,32.748472,Single Detached,NaN,NaN,None,Other,Dallas,0,1.0,04/27/2022,"$103,000",No,1,0,1/0,1,1,4,/1/0,1,0.120,No,"$103,000"
9,1,20030471,NaN,RESI,Closed,6278 Ava Court Drive,Carver Heights,Fort Worth,5,5,788,0,No,None,NaN,NaN,1958,"City Sewer, City Water",-97.221184,32.723447,Single Detached,NaN,NaN,None,None,Tarrant,0,0.0,04/28/2022,"$105,000",No,1,0,1/0,1,1,3,/0/0,1,0.161,No,"$105,000"
10,1,20021336,NaN,RESI,Closed,6738 State Highway 50 Highway,J. Hart,Commerce,4,4,"1,224",0,No,"Propane, Wood Stove",NaN,No,1960,"Cable Available, Rural Water District, Septic",-95.896170,33.276387,Single Detached,NaN,NaN,None,Window Unit(s),Hunt,2,2.0,04/14/2022,"$114,000",No,1,0,1/0,1,1,3,/2/2,1,1.000,No,"$114,000"
11,1,20013362,NaN,RESI,Closed,303 E 7th Street,Snow 2,Kaufman,36,36,"1,242",0,No,"Central, Electric",NaN,NaN,1960,"Cable Available, City Sewer, City Water",-96.307192,32.580489,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Central Air, Electric",Kaufman,0,0.0,05/03/2022,"$115,000",No,1,0,1/0,1,1,3,/0/0,1,0.152,No,"$115,000"
12,1,20017248,NaN,RESI,Closed,524 Maple Street,G W Cooper Surv Abs #211,Commerce,56,56,"1,580",0,Yes,"Central, Gas Jets",NaN,NaN,1942,"City Sewer, City Water",-95.892457,33.242260,Single Detached,NaN,NaN,None,"Central Air, Electric",Hunt,5,5.0,05/20/2022,"$115,000",No,2,1,2/1,1,1,3,2/5/5,3,0.712,No,"$115,000"
13,1,20031547,NaN,RESI,Closed,2647 E Ann Arbor Avenue,Southgate 02,Dallas,0,0,720,0,No,None,NaN,NaN,1949,"City Sewer, City Water",-96.778509,32.701434,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/20/2022,"$115,000",No,1,0,1/0,0,1,2,/0/0,1,0.156,No,"$115,000"
14,1,20038308,NaN,RESI,Closed,99 Lewis Street,Park Hill-Rev,Waxahachie,6,6,"1,848",0,No,"Central, Electric",NaN,NaN,1975,"City Sewer, City Water",-96.829986,32.388930,Single Detached,NaN,NaN,None,"Central Air, Electric",Ellis,0,0.0,05/12/2022,"$115,000",No,2,0,2/0,1,1,4,/0/0,2,0.206,No,"$115,000"
15,1,20061987,NaN,RESI,Closed,4619 Stokes Street,Hines,Dallas,0,0,768,0,No,Space Heater,NaN,NaN,1955,"Asphalt, City Sewer, City Water, Electricity Connected, Individual Water Meter",-96.747874,32.716513,Single Detached,NaN,NaN,None,Wall/Window Unit(s),Dallas,0,0.0,05/19/2022,"$115,000",No,1,0,1/0,0,1,2,/0/0,1,0.133,No,"$115,000"
16,1,20026741,NaN,RESI,Closed,2815 Baskin Drive,Will-Kee,Lancaster,2,2,794,0,No,"Central, Electric",NaN,NaN,1953,"City Sewer, City Water, Curbs, Individual Water Meter, Sidewalk",-96.794078,32.617904,Single Detached,NaN,NaN,None,"Central Air, Electric",Dallas,0,0.0,04/21/2022,"$118,000",No,1,0,1/0,1,1,2,0/0/0,1,0.268,No,"$118,000"
17,1,20014326,NaN,RESI,Closed,10474 Apache,Martin F C Iron Bridge Camp,Wills Point,27,27,900,0,No,Electric,NaN,NaN,1986,"All Weather Road, Co-op Electric, Co-op Water, Outside City Limits, Overhead Utilities, Septic",-96.057596,32.846513,Single Detached,$40,Annually,Mandatory,Central Air,Hunt,1,1.0,05/23/2022,"$119,000",No,1,0,1/0,0,1,2,/1/1,1,0.246,No,"$119,000"
18,1,20018691,NaN,RESI,Closed,637 Pleasant Vista Drive,Pleasant Oaks,Dallas,4,4,"1,148",0,No,Wall Furnace,NaN,NaN,1955,"Cable Available, City Sewer, City Water, Concrete, Curbs, Sidewalk",-96.642986,32.722883,Single Detached,NaN,NaN,None,None,Dallas,1,1.0,04/28/2022,"$120,000",No,1,1,1/1,1,1,2,/1/1,2,0.208,No,"$120,000"
19,1,20027971,NaN,RESI,Closed,3710 E 1st Street,Riverside Add,Fort Worth,4,4,904,0,No,None,NaN,NaN,1912,"City Sewer, City Water",-97.293733,32.764938,Single Detached,NaN,NaN,None,None,Tarrant,0,0.0,04/25/2022,"$120,000",No,1,0,1/0,1,1,3,/0/0,1,0.229,No,"$120,000"
20,1,20031680,NaN,RESI,Closed,1242 Coleman Street,Barnhardt Rsb-B-6 Woolen Mill,Greenville,3,3,"1,132",0,No,Central,NaN,NaN,1962,"Cable Available, City Sewer, City Water, Individual Gas Meter",-96.096968,33.124482,Single Detached,NaN,NaN,None,Central Air,Hunt,1,1.0,05/17/2022,"$120,000",No,1,0,1/0,1,1,3,0/1/1,1,0.140,No,"$120,000"
21,1,20028270,NaN,RESI,Closed,1423 E Davis Avenue,Highland Park Add,Fort Worth,5,5,"1,000",0,No,Electric,NaN,No,1934,"City Sewer, City Water",-97.306256,32.721209,Single Detached,NaN,NaN,None,Wall/Window Unit(s),Tarrant,0,0.0,04/28/2022,"$121,000",No,1,0,1/0,1,1,3,0/0/0,1,0.149,No,"$121,000"
22,1,20016364,NaN,RESI,Closed,305 E Travis Street,O T ITALY-REV,Italy,12,12,"1,402",0,No,"Central, Other",NaN,NaN,1940,"City Sewer, City Water",-96.881619,32.183569,Single Detached,NaN,NaN,None,Central Air,Ellis,1,1.0,04/13/2022,"$125,000",No,1,0,1/0,1,1,3,0/1/1,1,0.225,No,"$125,000"
23,1,20017736,NaN,RESI,Closed,8952 State Highway 50,A0625 LANE J,Commerce,24,24,"1,600",1,Yes,Other,NaN,NaN,1950,"Co-op Water, Septic",-95.919856,33.332354,Single Detached,NaN,NaN,None,Other,Hunt,2,0.0,04/29/2022,"$125,000",No,1,0,1/0,1,2,2,2/0/2,1,7.000,No,"$125,000"
24,1,20026206,NaN,RESI,Closed,10604 County Road 369,na,Terrell,1,1,"1,624",0,Yes,Central,NaN,NaN,1968,Aerobic Septic,-96.163337,32.717996,Single Detached,NaN,NaN,None,Electric,Kaufman,0,0.0,04/21/2022,"$125,000",No,2,0,2/0,1,1,3,2/0/0,2,0.480,No,"$125,000"
25,1,20035961,NaN,RESI,Closed,2013 Stonewall Street,Orig Town Of Greenville,Greenville,3,3,"1,461",0,No,Gas Jets,NaN,NaN,1940,"City Sewer, City Water, Natural Gas Available",-96.106868,33.142991,Single Detached,NaN,NaN,None,None,Hunt,0,0.0,05/25/2022,"$125,000",No,2,0,2/0,1,1,3,0/0/0,2,0.126,No,"$125,000"
26,1,20041855,NaN,RESI,Closed,5205 Gordon Avenue,Southcrest Add,Fort Worth,7,7,866,0,Yes,"Central, Natural Gas",NaN,NaN,1955,"City Sewer, City Water, Electricity Available",-97.347116,32.670257,Single Detached,NaN,NaN,None,"Central Air, Electric",Tarrant,1,0.0,05/18/2022,"$125,000",No,1,0,1/0,1,1,3,1/0/1,1,0.255,No,"$125,000"
27,1,20044001,NaN,RESI,Closed,1010 W Simonds Road,None,Seagoville,0,0,"1,237",0,No,Other,NaN,NaN,1945,City Sewer,-96.586344,32.647354,Single Detached,NaN,NaN,None,Other,Dallas,0,0.0,04/29/2022,"$125,000",No,2,0,2/0,0,1,3,/0/0,2,0.429,No,"$125,000"
28,1,20013879,NaN,RESI,Closed,1100 Marion Avenue,Ryan Southeast Add.,Fort Worth,5,5,"1,192",1,No,Central,NaN,NaN,1925,City Water,-97.313727,32.716254,Single Detached,NaN,NaN,None,"Central Air, Electric",Tarrant,0,0.0,04/11/2022,"$126,000",No,1,0,1/0,1,1,3,/0/0,1,0.138,No,"$126,000"
29,1,20019309,NaN,RESI,Closed,4169 Doyle Lane,Taylor 02,Lancaster,35,35,"1,326",0,No,Other,NaN,NaN,1958,"City Sewer, City Water",-96.782148,32.637483,Single Detached,NaN,NaN,None,Other,Dallas,0,0.0,05/23/2022,"$126,000",No,1,0,1/0,1,1,3,/0/0,1,0.205,No,"$126,000"
30,1,20013392,NaN,RESI,Closed,8435 Del Monte Drive,Oak Hill Park Anx Add,Dallas,4,4,848,0,No,None,NaN,NaN,1950,Asphalt,-96.675834,32.738540,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/04/2022,"$129,500",No,1,0,1/0,1,1,2,/0/0,1,0.183,No,"$129,500"
31,1,20024322,NaN,RESI,Closed,1626 E Leuda Street,Glenwood Add,Fort Worth,5,5,"1,095",0,No,Other,NaN,NaN,1939,City Sewer,-97.305653,32.736269,Single Detached,NaN,NaN,None,Other,Tarrant,1,1.0,05/04/2022,"$130,000",No,1,0,1/0,1,0,2,/1/1,1,0.140,No,"$130,000"
32,1,20026288,NaN,RESI,Closed,2830 Tanner Street,English Place,Dallas,2,2,"1,248",0,No,None,NaN,NaN,2017,"City Sewer, City Water, Electricity Available",-96.763076,32.766123,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/22/2022,"$130,000",No,2,0,2/0,1,1,3,/0/0,2,0.126,No,"$130,000"
33,1,20037140,NaN,RESI,Closed,510 Lowrance,VICK SUB LOT A,Forney,2,2,956,0,Yes,Wall Furnace,NaN,NaN,1965,"City Sewer, City Water",-96.474510,32.743024,Single Detached,NaN,NaN,None,Window Unit(s),Kaufman,0,0.0,05/06/2022,"$130,000",No,1,0,1/0,1,1,2,0/0/0,1,0.403,No,"$130,000"
34,1,20027759,NaN,RESI,Closed,6625 Glesman Street,Beckley Heights Rev,Dallas,3,3,787,0,No,Central,NaN,No,1948,"City Sewer, City Water, Natural Gas Available, Sewer Available",-96.830521,32.667091,Single Detached,NaN,NaN,None,Window Unit(s),Dallas,0,0.0,04/19/2022,"$133,000",No,1,0,1/0,1,1,3,/0/0,1,0.236,No,"$133,000"
35,1,20034189,NaN,RESI,Closed,7019 Darling Street,Eagle Mountain Acres,Azle,12,12,"1,470",0,Yes,Other,NaN,NaN,1960,Other,-97.516732,32.985490,Single Detached,NaN,NaN,None,Other,Tarrant,0,0.0,05/09/2022,"$133,500",No,1,0,1/0,1,1,3,4/0/0,1,0.184,No,"$133,500"
36,1,20018619,NaN,RESI,Closed,3310 Pacesetter Drive,Highland Hills,Dallas,16,16,"1,100",0,Yes,Electric,NaN,No,1971,"Asphalt, Cable Available, City Sewer, City Water, Curbs, Electricity Connected, Overhead Utilities, Sidewalk",-96.769817,32.663666,Single Detached,NaN,NaN,None,Electric,Dallas,1,0.0,04/20/2022,"$135,000",No,2,0,2/0,1,1,3,1/0/1,2,0.165,No,"$135,000"
37,1,20033643,NaN,RESI,Closed,1417 S Woody Road,Blk G 8820,Dallas,4,4,"1,056",0,No,"Central, Electric",NaN,NaN,1971,"City Sewer, City Water, Curbs",-96.591176,32.677068,Single Detached,NaN,NaN,None,"Attic Fan, Ceiling Fan(s), Central Air, Electric",Dallas,1,1.0,04/29/2022,"$135,000",No,1,1,1/1,1,1,3,0/1/1,2,0.193,Yes,"$135,000"
38,1,20048267,NaN,RESI,Closed,2608 Bideker Avenue,Wesleyan Hills,Fort Worth,2,2,736,0,Yes,"Space Heater, Other",NaN,NaN,1950,"City Sewer, City Water, Curbs, Individual Gas Meter",-97.287982,32.717818,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Window Unit(s), Other",Tarrant,1,0.0,05/23/2022,"$135,000",No,1,0,1/0,1,1,2,1/0/1,1,0.207,No,"$135,000"
39,1,20015915,NaN,RESI,Closed,3713 Mildred Lane,Browning Heights East,Haltom City,1,1,"1,032",0,Yes,Gas Jets,NaN,NaN,1955,"City Sewer, City Water",-97.277020,32.818331,Single Detached,NaN,NaN,None,Electric,Tarrant,1,1.0,04/01/2022,"$140,000",No,1,0,1/0,1,0,3,1/1/1,1,0.137,No,"$140,000"
40,1,20023732,NaN,RESI,Closed,3042 Britton Drive,Brightside,Dallas,9,9,"1,032",0,No,None,NaN,NaN,1940,"City Sewer, City Water",-96.804913,32.709069,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/18/2022,"$140,000",No,1,0,1/0,1,1,3,/0/0,1,0.175,No,"$140,000"
41,1,20025387,NaN,RESI,Closed,2915 Crenshaw Avenue,Burchill Add,Fort Worth,7,7,"1,790",0,No,Wall Furnace,NaN,NaN,1952,"City Sewer, City Water",-97.283054,32.718331,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Wall/Window Unit(s)",Tarrant,0,0.0,04/28/2022,"$140,000",Yes,2,0,2/0,1,2,3,/0/0,2,0.161,No,"$140,000"
42,1,20038177,NaN,RESI,Closed,3708 Avenue N,Raef Sub,Fort Worth,25,25,850,0,Yes,Space Heater,NaN,NaN,1942,"Cable Available, City Sewer, City Water",-97.270480,32.723249,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Window Unit(s)",Tarrant,1,1.0,05/20/2022,"$140,000",No,1,0,1/0,0,1,2,1/1/1,1,0.144,No,"$140,000"
43,1,20039675,NaN,RESI,Closed,6138 Dry Creek Run,ELISHA TURNER,Terrell,5,5,"1,344",1,No,"Fireplace(s), Propane",NaN,NaN,1981,"Co-op Electric, Septic",-96.258954,32.842340,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Wall/Window Unit(s)",Hunt,0,0.0,05/23/2022,"$140,000",No,2,0,2/0,0,1,3,/0/0,2,1.000,No,"$140,000"
44,1,20040097,NaN,RESI,Closed,3010 Britton Drive,Brightside,Dallas,1,1,"1,134",0,Yes,Other,NaN,NaN,1945,"City Sewer, City Water",-96.805526,32.710062,Single Detached,NaN,NaN,None,Zoned,Dallas,1,1.0,05/06/2022,"$140,000",No,2,0,2/0,1,1,2,1/1/1,2,0.167,No,"$140,000"
45,1,20014581,NaN,RESI,Closed,1302 Monroe Street,Orig Town Of Commerce,Commerce,5,5,"1,328",0,No,"Central, Electric",NaN,NaN,1920,"City Sewer, City Water",-95.902559,33.249775,Single Detached,NaN,NaN,None,"Central Air, Electric",Hunt,2,2.0,04/26/2022,"$142,500",No,1,0,1/0,1,1,3,0/2/2,1,0.114,No,"$142,500"
46,1,20029569,NaN,RESI,Closed,2967 50th Street,Sunnyvale,Dallas,6,6,"1,248",0,No,Central,NaN,NaN,1954,"City Sewer, City Water",-96.772671,32.700195,Single Detached,NaN,NaN,None,Central Air,Dallas,0,0.0,05/17/2022,"$145,000",No,1,0,1/0,1,1,3,/0/0,1,0.179,No,"$145,000"
47,1,20029577,NaN,RESI,Closed,2425 E Overton Road,Deerpath Village 03,Dallas,6,6,992,0,No,"Central, Electric",NaN,NaN,1949,"City Sewer, City Water",-96.790378,32.709097,Single Detached,NaN,NaN,None,"Central Air, Electric",Dallas,0,0.0,05/17/2022,"$145,000",No,2,0,2/0,1,1,3,/0/0,2,0.168,No,"$145,000"
48,1,20033030,NaN,RESI,Closed,609 E 5th Street,Crestview,Ferris,8,8,"1,160",0,No,Central,NaN,NaN,1952,"City Sewer, City Water",-96.657587,32.535314,Single Detached,NaN,NaN,None,Central Air,Ellis,2,2.0,05/10/2022,"$145,000",No,1,0,1/0,1,1,2,0/2/2,1,0.308,No,"$145,000"
49,1,20043104,NaN,RESI,Closed,608 W Gilmer Street,Ennis-Dvv,Ennis,0,0,"1,137",0,No,Central,NaN,NaN,1955,"City Sewer, City Water",-96.637671,32.332410,Single Detached,NaN,NaN,None,"Central Air, Electric",Ellis,1,1.0,05/04/2022,"$145,000",No,1,1,1/1,1,1,3,0/1/1,2,0.143,No,"$145,000"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   #                          5000 non-null   int64
 1   ML #                       5000 non-null   int64
 2   Change                     0 non-null      float64
 3   PType                      5000 non-null   object
 4   St                         5000 non-null   object
 5   Address                    5000 non-null   object
 6   Subdivision Name           4986 non-null   object
 7   City                       5000 non-null   object
 8   Cumulative Days On Market  5000 non-null   int64
 9   Days On Market             5000 non-null   int64
 10  SqFt                       4999 non-null   object
 11  Fireplaces Total           5000 non-null   int64
 12  Garage YN                  5000 non-null   object
 13  Heating                    4999 non-null   object
 14  Waterfront Features        62 non-null     object
 15  Waterfront YN              1851 non-null   object
 16  Year Built                 5000 non-null   int64
 17  Utilities                  4999 non-null   object
 18  Longitude                  4999 non-null   float64
 19  Latitude                   5000 non-null   float64
 20  Housing Type               5000 non-null   object
 21  HOA Fee                    2237 non-null   object
 22  HOA Fee Frequency          2244 non-null   object
 23  HOA Type                   5000 non-null   object
 24  Cooling                    4999 non-null   object
 25  County                     5000 non-null   object
 26  Covered Spaces             5000 non-null   int64
 27  Carport Spaces             4999 non-null   float64
 28  Close Date                 5000 non-null   object
 29  Close Price                5000 non-null   object
 30  Basement YN                5000 non-null   object
 31  Bath Full                  5000 non-null   int64
 32  Baths Half                 5000 non-null   int64
 33  Baths Total                5000 non-null   object
 34  # Dining Areas             5000 non-null   int64
 35  # Living Areas             5000 non-null   int64
 36  Beds Total                 5000 non-null   int64
 37  GAR/CP/TCP                 5000 non-null   object
 38  Bath Total                 5000 non-null   int64
 39  Acres                      5000 non-null   float64
 40  Pool YN                    4944 non-null   object
 41  Current Price              5000 non-null   object
dtypes: float64(5), int64(13), object(24)
memory usage: 1.6+ MB

In [6]:
df.describe()

,#,ML #,Change,Cumulative Days On Market,Days On Market,Fireplaces Total,Year Built,Longitude,Latitude,Covered Spaces,Carport Spaces,Bath Full,Baths Half,# Dining Areas,# Living Areas,Beds Total,Bath Total,Acres
count,5000.000000,5.000000e+03,0.0,5000.000000,5000.000000,5000.000000,5000.00000,4999.000000,5000.000000,5000.000000,4999.000000,5000.000000,5000.0000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2251.000000,2.002600e+07,NaN,7.906800,6.866800,0.824000,1992.22680,-96.870254,32.831113,1.923400,0.188238,2.326000,0.3224,1.413400,1.617000,3.55180,2.648400,0.305688
std,1436.284297,8.827144e+03,NaN,14.033813,6.729347,0.592194,115.79014,1.861346,1.907187,0.973921,0.620425,0.759631,0.5029,0.519379,0.766308,0.74527,0.996883,0.914751
min,1.000000,2.001330e+07,NaN,-9.000000,-13.000000,0.000000,1898.00000,-97.930440,-97.381160,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1001.000000,2.001883e+07,NaN,3.000000,3.000000,0.000000,1974.00000,-97.182741,32.723290,2.000000,0.000000,2.000000,0.0000,1.000000,1.000000,3.00000,2.000000,0.152000
50%,2251.000000,2.002463e+07,NaN,5.000000,5.000000,1.000000,1997.00000,-96.814561,32.863556,2.000000,0.000000,2.000000,0.0000,1.000000,1.000000,3.00000,2.000000,0.189000
75%,3501.000000,2.003208e+07,NaN,8.000000,7.000000,1.000000,2010.00000,-96.667477,32.979547,2.000000,0.000000,3.000000,1.0000,2.000000,2.000000,4.00000,3.000000,0.246000
max,4501.000000,2.006451e+07,NaN,272.000000,59.000000,6.000000,9999.00000,32.642164,33.387604,20.000000,6.000000,7.000000,4.0000,3.000000,9.000000,7.00000,9.000000,50.600000

In [7]:
df.columns

Index(['#', 'ML #', 'Change', 'PType', 'St', 'Address', 'Subdivision Name',
       'City', 'Cumulative Days On Market', 'Days On Market', 'SqFt',
       'Fireplaces Total', 'Garage YN', 'Heating', 'Waterfront Features',
       'Waterfront YN', 'Year Built', 'Utilities', 'Longitude', 'Latitude',
       'Housing Type', 'HOA Fee', 'HOA Fee Frequency', 'HOA Type', 'Cooling',
       'County', 'Covered Spaces', 'Carport Spaces', 'Close Date',
       'Close Price', 'Basement YN', 'Bath Full', 'Baths Half', 'Baths Total',
       '# Dining Areas', '# Living Areas', 'Beds Total', 'GAR/CP/TCP',
       'Bath Total', 'Acres', 'Pool YN', 'Current Price'],
      dtype='object')

In [8]:
df.PType.value_counts()

RESI    5000
Name: PType, dtype: int64

In [9]:
df.St.value_counts()

Closed    5000
Name: St, dtype: int64

In [10]:
df['Waterfront YN'].value_counts()

No     1810
Yes      41
Name: Waterfront YN, dtype: int64

In [11]:
df.drop(['#', 'ML #', 'Change', 'PType', 'St', 'Waterfront Features', 'GAR/CP/TCP'], axis=1, inplace=True)

In [12]:
df.head(25)

,Address,Subdivision Name,City,Cumulative Days On Market,Days On Market,SqFt,Fireplaces Total,Garage YN,Heating,Waterfront YN,Year Built,Utilities,Longitude,Latitude,Housing Type,HOA Fee,HOA Fee Frequency,HOA Type,Cooling,County,Covered Spaces,Carport Spaces,Close Date,Close Price,Basement YN,Bath Full,Baths Half,Baths Total,# Dining Areas,# Living Areas,Beds Total,Bath Total,Acres,Pool YN,Current Price
0,805 Lake View Ridge,Meadow Park Add,White Settlement,7,7,621,0,No,Other,NaN,1950,Other,-97.463460,32.752228,Single Detached,NaN,NaN,None,Other,Tarrant,0,0.0,05/25/2022,"$72,000",No,1,0,1/0,1,1,1,1,0.198,No,"$72,000"
1,1639 Mentor Avenue,Bellevue,Dallas,10,10,972,0,No,None,NaN,1925,"City Sewer, City Water",-96.799945,32.692283,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/27/2022,"$73,500",No,0,2,0/2,0,1,0,2,0.187,No,"$73,500"
2,1810 Fuller Street,Orig Town Of Greenville,Greenville,1,1,"1,846",0,No,None,NaN,1952,"City Sewer, City Water",-96.110676,33.144472,Single Detached,NaN,NaN,None,None,Hunt,0,0.0,04/22/2022,"$83,000",No,1,0,1/0,1,1,3,1,0.129,No,"$83,000"
3,1315 Exeter Avenue,Belmead,Dallas,0,0,912,0,No,Other,NaN,1946,"City Water, Curbs, Electricity Available, Electricity Connected, Overhead Utilities",-96.806162,32.693751,Single Detached,NaN,NaN,None,Central Air,Dallas,0,0.0,05/18/2022,"$85,000",No,2,0,2/0,1,0,0,2,0.199,No,"$85,000"
4,2606 Fordham Road,Lisbon Heights,Dallas,4,4,"1,008",0,No,Wall Furnace,NaN,1938,"City Sewer, City Water",-96.783296,32.705798,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Central Air",Dallas,0,0.0,04/07/2022,"$89,000",No,1,0,1/0,1,1,2,1,0.203,No,"$89,000"
5,3010 Mitchell Street,Mineral Heights Sub,Greenville,7,7,642,0,No,Electric,NaN,1956,"City Sewer, City Water",-96.112583,33.109326,Single Detached,NaN,NaN,None,Electric,Hunt,0,0.0,04/08/2022,"$91,000",No,1,0,1/0,1,1,1,1,0.201,No,"$91,000"
6,3700 Guaranty Street,Guaranty Investors,Dallas,3,3,940,0,No,Central,NaN,1927,"City Sewer, City Water, Electricity Available",-96.763228,32.762555,Single Detached,NaN,NaN,None,Central Air,Dallas,0,0.0,04/21/2022,"$91,111",No,1,0,1/0,1,1,2,1,0.069,No,"$91,111"
7,909 Mirike Drive,Meadow Park Add,White Settlement,10,10,673,0,No,Other,NaN,1951,Septic,-97.463949,32.749006,Single Detached,NaN,NaN,None,None,Tarrant,0,0.0,05/18/2022,"$94,000",No,1,0,1/0,1,1,1,1,0.241,No,"$94,000"
8,1635 Elsie Faye Heggins Street,Hatcher Street Heights,Dallas,0,0,"1,206",0,No,Natural Gas,NaN,1940,"City Sewer, City Water, Electricity Available",-96.762945,32.748472,Single Detached,NaN,NaN,None,Other,Dallas,0,1.0,04/27/2022,"$103,000",No,1,0,1/0,1,1,4,1,0.120,No,"$103,000"
9,6278 Ava Court Drive,Carver Heights,Fort Worth,5,5,788,0,No,None,NaN,1958,"City Sewer, City Water",-97.221184,32.723447,Single Detached,NaN,NaN,None,None,Tarrant,0,0.0,04/28/2022,"$105,000",No,1,0,1/0,1,1,3,1,0.161,No,"$105,000"
10,6738 State Highway 50 Highway,J. Hart,Commerce,4,4,"1,224",0,No,"Propane, Wood Stove",No,1960,"Cable Available, Rural Water District, Septic",-95.896170,33.276387,Single Detached,NaN,NaN,None,Window Unit(s),Hunt,2,2.0,04/14/2022,"$114,000",No,1,0,1/0,1,1,3,1,1.000,No,"$114,000"
11,303 E 7th Street,Snow 2,Kaufman,36,36,"1,242",0,No,"Central, Electric",NaN,1960,"Cable Available, City Sewer, City Water",-96.307192,32.580489,Single Detached,NaN,NaN,None,"Ceiling Fan(s), Central Air, Electric",Kaufman,0,0.0,05/03/2022,"$115,000",No,1,0,1/0,1,1,3,1,0.152,No,"$115,000"
12,524 Maple Street,G W Cooper Surv Abs #211,Commerce,56,56,"1,580",0,Yes,"Central, Gas Jets",NaN,1942,"City Sewer, City Water",-95.892457,33.242260,Single Detached,NaN,NaN,None,"Central Air, Electric",Hunt,5,5.0,05/20/2022,"$115,000",No,2,1,2/1,1,1,3,3,0.712,No,"$115,000"
13,2647 E Ann Arbor Avenue,Southgate 02,Dallas,0,0,720,0,No,None,NaN,1949,"City Sewer, City Water",-96.778509,32.701434,Single Detached,NaN,NaN,None,None,Dallas,0,0.0,04/20/2022,"$115,000",No,1,0,1/0,0,1,2,1,0.156,No,"$115,000"
14,99 Lewis Street,Park Hill-Rev,Waxahachie,6,6,"1,848",0,No,"Central, Electric",NaN,1975,"City Sewer, City Water",-96.829986,32.388930,Single Detached,NaN,NaN,None,"Central Air, Electric",Ellis,0,0.0,05/12/2022,"$115,000",No,2,0,2/0,1,1,4,2,0.206,No,"$115,000"
15,4619 Stokes Street,Hines,Dallas,0,0,768,0,No,Space Heater,NaN,1955,"Asphalt, City Sewer, City Water, Electricity Connected, Individual Water Meter",-96.747874,32.716513,Single Detached,NaN,NaN,None,Wall/Window Unit(s),Dallas,0,0.0,05/19/2022,"$115,000",No,1,0,1/0,0,1,2,1,0.133,No,"$115,000"
16,2815 Baskin Drive,Will-Kee,Lancaster,2,2,794,0,No,"Central, Electric",NaN,1953,"City Sewer, City Water, Curbs, Individual Water Meter, Sidewalk",-96.794078,32.617904,Single Detached,NaN,NaN,None,"Central Air, Electric",Dallas,0,0.0,04/21/2022,"$118,000",No,1,0,1/0,1,1,2,1,0.268,No,"$118,000"
17,10474 Apache,Martin F C Iron Bridge Camp,Wills Point,27,27,900,0,No,Electric,NaN,1986,"All Weather Road, Co-op Electric, Co-op Water, Outside City Limits, Overhead Utilities, Septic",-96.057596,32.846513,Single Detached,$40,Annually,Mandatory,Central Air,Hunt,1,1.0,05/23/2022,"$119,000",No,1,0,1/0,0,1,2,1,0.246,No,"$119,000"
18,637 Pleasant Vista Drive,Pleasant Oaks,Dallas,4,4,"1,148",0,No,Wall Furnace,NaN,1955,"Cable Available, City Sewer, City Water, Concrete, Curbs, Sidewalk",-96.642986,32.722883,Single Detached,NaN,NaN,None,None,Dallas,1,1.0,04/28/2022,"$120,000",No,1,1,1/1,1,1,2,2,0.208,No,"$120,000"
19,3710 E 1st Street,Riverside Add,Fort Worth,4,4,904,0,No,None,NaN,1912,"City Sewer, City Water",-97.293733,32.764938,Single Detached,NaN,NaN,None,None,Tarrant,0,0.0,04/25/2022,"$120,000",No,1,0,1/0,1,1,3,1,0.229,No,"$120,000"
20,1242 Coleman Street,Barnhardt Rsb-B-6 Woolen Mill,Greenville,3,3,"1,132",0,No,Central,NaN,1962,"Cable Available, City Sewer, City Water, Individual Gas Meter",-96.096968,33.124482,Single Detached,NaN,NaN,None,Central Air,Hunt,1,1.0,05/17/2022,"$120,000",No,1,0,1/0,1,1,3,1,0.140,No,"$120,000"
21,1423 E Davis Avenue,Highland Park Add,Fort Worth,5,5,"1,000",0,No,Electric,No,1934,"City Sewer, City Water",-97.306256,32.721209,Single Detached,NaN,NaN,None,Wall/Window Unit(s),Tarrant,0,0.0,04/28/2022,"$121,000",No,1,0,1/0,1,1,3,1,0.149,No,"$121,000"
22,305 E Travis Street,O T ITALY-REV,Italy,12,12,"1,402",0,No,"Central, Other",NaN,1940,"City Sewer, City Water",-96.881619,32.183569,Single Detached,NaN,NaN,None,Central Air,Ellis,1,1.0,04/13/2022,"$125,000",No,1,0,1/0,1,1,3,1,0.225,No,"$125,000"
23,8952 State Highway 50,A0625 LANE J,Commerce,24,24,"1,600",1,Yes,Other,NaN,1950,"Co-op Water, Septic",-95.919856,33.332354,Single Detached,NaN,NaN,None,Other,Hunt,2,0.0,04/29/2022,"$125,000",No,1,0,1/0,1,2,2,1,7.000,No,"$125,000"
24,10604 County Road 369,na,Terrell,1,1,"1,624",0,Yes,Central,NaN,1968,Aerobic Septic,-96.163337,32.717996,Single Detached,NaN,NaN,None,Electric,Kaufman,0,0.0,04/21/2022,"$125,000",No,2,0,2/0,1,1,3,2,0.480,No,"$125,000"

In [13]:
df['Housing Type'].value_counts()

Single Detached                                                               4933
Historical/Conservation Dist., Single Detached                                  24
Garden/Zero Lot Line, Single Detached                                           13
Farm/Ranch House, Single Detached                                               10
Lake House, Single Detached                                                      4
Designated Historical Home, Historical/Conservation Dist., Single Detached       3
Apartment, Single Detached                                                       2
Attached or 1/2 Duplex, Single Detached                                          2
Designated Historical Home, Single Detached                                      2
Condo/Townhome, Single Detached                                                  2
Manufactured (certificate exch), Single Detached                                 1
Condo/Townhome, Garden/Zero Lot Line, Single Detached                            1
Lake House, Single Detached, Vacation Home                                       1
Lake House, Resort Property, Single Detached, Vacation Home                      1
Single Detached, Vacation Home                                                   1
Name: Housing Type, dtype: int64

In [14]:
df.drop(['Housing Type'], axis= 1, inplace=True)

In [15]:
df.head()

,Address,Subdivision Name,City,Cumulative Days On Market,Days On Market,SqFt,Fireplaces Total,Garage YN,Heating,Waterfront YN,Year Built,Utilities,Longitude,Latitude,HOA Fee,HOA Fee Frequency,HOA Type,Cooling,County,Covered Spaces,Carport Spaces,Close Date,Close Price,Basement YN,Bath Full,Baths Half,Baths Total,# Dining Areas,# Living Areas,Beds Total,Bath Total,Acres,Pool YN,Current Price
0,805 Lake View Ridge,Meadow Park Add,White Settlement,7,7,621,0,No,Other,NaN,1950,Other,-97.463460,32.752228,NaN,NaN,None,Other,Tarrant,0,0.0,05/25/2022,"$72,000",No,1,0,1/0,1,1,1,1,0.198,No,"$72,000"
1,1639 Mentor Avenue,Bellevue,Dallas,10,10,972,0,No,None,NaN,1925,"City Sewer, City Water",-96.799945,32.692283,NaN,NaN,None,None,Dallas,0,0.0,04/27/2022,"$73,500",No,0,2,0/2,0,1,0,2,0.187,No,"$73,500"
2,1810 Fuller Street,Orig Town Of Greenville,Greenville,1,1,"1,846",0,No,None,NaN,1952,"City Sewer, City Water",-96.110676,33.144472,NaN,NaN,None,None,Hunt,0,0.0,04/22/2022,"$83,000",No,1,0,1/0,1,1,3,1,0.129,No,"$83,000"
3,1315 Exeter Avenue,Belmead,Dallas,0,0,912,0,No,Other,NaN,1946,"City Water, Curbs, Electricity Available, Electricity Connected, Overhead Utilities",-96.806162,32.693751,NaN,NaN,None,Central Air,Dallas,0,0.0,05/18/2022,"$85,000",No,2,0,2/0,1,0,0,2,0.199,No,"$85,000"
4,2606 Fordham Road,Lisbon Heights,Dallas,4,4,"1,008",0,No,Wall Furnace,NaN,1938,"City Sewer, City Water",-96.783296,32.705798,NaN,NaN,None,"Ceiling Fan(s), Central Air",Dallas,0,0.0,04/07/2022,"$89,000",No,1,0,1/0,1,1,2,1,0.203,No,"$89,000"

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Address                    5000 non-null   object
 1   Subdivision Name           4986 non-null   object
 2   City                       5000 non-null   object
 3   Cumulative Days On Market  5000 non-null   int64
 4   Days On Market             5000 non-null   int64
 5   SqFt                       4999 non-null   object
 6   Fireplaces Total           5000 non-null   int64
 7   Garage YN                  5000 non-null   object
 8   Heating                    4999 non-null   object
 9   Waterfront YN              1851 non-null   object
 10  Year Built                 5000 non-null   int64
 11  Utilities                  4999 non-null   object
 12  Longitude                  4999 non-null   float64
 13  Latitude                   5000 non-null   float64
 14  HOA Fee                    2237 non-null   object
 15  HOA Fee Frequency          2244 non-null   object
 16  HOA Type                   5000 non-null   object
 17  Cooling                    4999 non-null   object
 18  County                     5000 non-null   object
 19  Covered Spaces             5000 non-null   int64
 20  Carport Spaces             4999 non-null   float64
 21  Close Date                 5000 non-null   object
 22  Close Price                5000 non-null   object
 23  Basement YN                5000 non-null   object
 24  Bath Full                  5000 non-null   int64
 25  Baths Half                 5000 non-null   int64
 26  Baths Total                5000 non-null   object
 27  # Dining Areas             5000 non-null   int64
 28  # Living Areas             5000 non-null   int64
 29  Beds Total                 5000 non-null   int64
 30  Bath Total                 5000 non-null   int64
 31  Acres                      5000 non-null   float64
 32  Pool YN                    4944 non-null   object
 33  Current Price              5000 non-null   object
dtypes: float64(4), int64(11), object(19)
memory usage: 1.3+ MB

In [17]:
df2= df.copy()

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Address                    5000 non-null   object
 1   Subdivision Name           4986 non-null   object
 2   City                       5000 non-null   object
 3   Cumulative Days On Market  5000 non-null   int64
 4   Days On Market             5000 non-null   int64
 5   SqFt                       4999 non-null   object
 6   Fireplaces Total           5000 non-null   int64
 7   Garage YN                  5000 non-null   object
 8   Heating                    4999 non-null   object
 9   Waterfront YN              1851 non-null   object
 10  Year Built                 5000 non-null   int64
 11  Utilities                  4999 non-null   object
 12  Longitude                  4999 non-null   float64
 13  Latitude                   5000 non-null   float64
 14  HOA Fee                    2237 non-null   object
 15  HOA Fee Frequency          2244 non-null   object
 16  HOA Type                   5000 non-null   object
 17  Cooling                    4999 non-null   object
 18  County                     5000 non-null   object
 19  Covered Spaces             5000 non-null   int64
 20  Carport Spaces             4999 non-null   float64
 21  Close Date                 5000 non-null   object
 22  Close Price                5000 non-null   object
 23  Basement YN                5000 non-null   object
 24  Bath Full                  5000 non-null   int64
 25  Baths Half                 5000 non-null   int64
 26  Baths Total                5000 non-null   object
 27  # Dining Areas             5000 non-null   int64
 28  # Living Areas             5000 non-null   int64
 29  Beds Total                 5000 non-null   int64
 30  Bath Total                 5000 non-null   int64
 31  Acres                      5000 non-null   float64
 32  Pool YN                    4944 non-null   object
 33  Current Price              5000 non-null   object
dtypes: float64(4), int64(11), object(19)
memory usage: 1.3+ MB

In [22]:
df.loc[df['Address'] == "1410 Misty Cove"]

Empty DataFrame
Columns: [Address, Subdivision Name, City, Cumulative Days On Market, Days On Market, SqFt, Fireplaces Total, Garage YN, Heating, Waterfront YN, Year Built, Utilities, Longitude, Latitude, HOA Fee, HOA Fee Frequency, HOA Type, Cooling, County, Covered Spaces, Carport Spaces, Close Date, Close Price, Basement YN, Bath Full, Baths Half, Baths Total, # Dining Areas, # Living Areas, Beds Total, Bath Total, Acres, Pool YN, Current Price]
Index: []

In [ ]:
df3= df2[["Waterfront YN", "Garage YN", "Basement YN", "Pool YN"]].copy()
df3.head()

In [ ]:
df3 = df3.where(pd.notnull(df3), 'No')
df3.head()

In [ ]:
df3.rename(columns={"Waterfront YN": "Waterfront_YN", "Garage YN": "Garage_YN", "Basement YN": "Basement_YN", "Pool YN": "Pool_YN"})

In [ ]:
df4 = pd.concat([df2, df3], axis = 1)
df4.head()

In [ ]:
df4.drop(["Waterfront YN", "Garage YN", "Basement YN", "Pool YN"], axis = 1, inplace=True)
df4.head()

In [ ]:
#fix lat long on mckinney house 10313 blue skies
#18 homes listed in slack

In [ ]:
df4.to_csv('housing_clean.csv', index=False)